In [1]:
import helperfunction as hf
import matplotlib.pyplot as plt

In [2]:
invoice_df = hf.create_df('invoice_data')
invoice_df.head()

Current work Directory C:\Users\jahna\OneDrive\Documents\GitHub\Customer-Segmentation\Code
File Path is  C:\Users\jahna\OneDrive\Documents\GitHub\Customer-Segmentation\Code\invoice_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
print(f"\nTotal observations (records): {invoice_df.shape[0]}")
print(f"\nTotal features: {invoice_df.shape[1]}")
print(f"\nNumber of Invoices: {invoice_df['InvoiceNo'].nunique()}")
print(f"\nNumber of Products: {invoice_df['StockCode'].nunique()}")
print(f"\nNumber of Customers: {invoice_df['CustomerID'].nunique()}")
print(f"\nNumber of Countries: {invoice_df['Country'].nunique()}")
print(f"\nMinimum Date: {invoice_df['InvoiceDate'].min()} - Maximum Date: {invoice_df['InvoiceDate'].max()}")

Total observations (records): 541909

Total features: 8

Number of Invoices: 25900

Number of Products: 4070

Number of Customers: 4372

Number of Countries: 38

Minimum Date: 2010-12-01 08:26:00 - Maximum Date: 2011-12-09 12:50:00

In [4]:
invoice_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
invoice_df['price'] = invoice_df['Quantity']*invoice_df['UnitPrice']
a = invoice_df[['InvoiceNo','price']].groupby(['InvoiceNo']).sum().reset_index()
print(f"\nMin Basket Price: {a.price.min()}")
print(f"Max Basket Price: {a.price.max()}")

Min Basket Price: -168469.6
Max Basket Price: 168469.6

In [6]:
a = invoice_df[['CustomerID','price']].groupby(['CustomerID']).sum().reset_index()
print(a.sort_values(by='price', ascending=0).head())
print(f"\nMin Purchase by customer: {a.price.min()}")
print(f"Max Purchase customer: {a.price.max()}")

      CustomerID      price
1703     14646.0  279489.02
4233     18102.0  256438.49
3758     17450.0  187482.17
1895     14911.0  132572.62
55       12415.0  123725.45

Min Purchase by customer: -4287.63
Max Purchase customer: 279489.02

In [7]:
result = invoice_df.groupby('CustomerID')['InvoiceDate'].agg(['first', 'last'])
result['Date_Difference'] = result['last'] - result['first']
print(f"\nAvg customer span: {result['Date_Difference'].mean()}")

Avg customer span: 133 days 17:25:29.204025618

In [8]:
a = invoice_df[['InvoiceNo','Quantity']].groupby(['InvoiceNo']).sum().reset_index()
print(f"\nMin Quantity by InvoiceNo: {a.Quantity.min()}")
print(f"Max Quantity by InvoiceNo: {a.Quantity.max()}")

Min Quantity by InvoiceNo: -80995
Max Quantity by InvoiceNo: 80995

## EDA

## Product Categories

### Clustering Products

### Silhoutte Intra cluster score

### PCA

## Customer Categories

## Classification on Customers

In [16]:
neg_invoice_df = invoice_df[invoice_df.price<0][['StockCode','InvoiceNo','CustomerID','price']]
neg_invoice_df.head()

    StockCode InvoiceNo  CustomerID  price
141         D   C536379     14527.0 -27.50
154    35004C   C536383     15311.0  -4.65
235     22556   C536391     17548.0 -19.80
236     21984   C536391     17548.0  -6.96
237     21983   C536391     17548.0  -6.96

In [21]:
neg_invoice_df= neg_invoice_df.merge(invoice_df, how='left', on=['StockCode','CustomerID'])
neg_invoice_df[abs(neg_invoice_df.price_x) == neg_invoice_df.price_y]

,StockCode,InvoiceNo_x,CustomerID,price_x,InvoiceNo_y,Description,Quantity,InvoiceDate,UnitPrice,Country,price_y
63,22355,C536543,17841.0,-1.70,546543,CHARLOTTE BAG SUKI DESIGN,2,2011-03-14 15:40:00,0.85,United Kingdom,1.70
65,22355,C536543,17841.0,-1.70,548492,CHARLOTTE BAG SUKI DESIGN,2,2011-03-31 13:14:00,0.85,United Kingdom,1.70
66,22355,C536543,17841.0,-1.70,549014,CHARLOTTE BAG SUKI DESIGN,2,2011-04-05 15:00:00,0.85,United Kingdom,1.70
69,22355,C536543,17841.0,-1.70,550359,CHARLOTTE BAG SUKI DESIGN,2,2011-04-18 10:41:00,0.85,United Kingdom,1.70
75,22355,C536543,17841.0,-1.70,554942,CHARLOTTE BAG SUKI DESIGN,2,2011-05-27 14:01:00,0.85,United Kingdom,1.70
...,...,...,...,...,...,...,...,...,...,...,...
66523,23462,C581409,12476.0,-19.95,578472,ROCOCO WALL MIRROR WHITE,1,2011-11-24 12:40:00,19.95,Germany,19.95
66537,85127,C581409,12476.0,-24.75,578472,SMALL SQUARE CUT GLASS CANDLESTICK,5,2011-11-24 12:40:00,4.95,Germany,24.75
66559,16219,C581462,12985.0,-2.88,575868,HOUSE SHAPE PENCIL SHARPENER,48,2011-11-11 12:44:00,0.06,United Kingdom,2.88
66561,21642,C581462,12985.0,-20.88,575868,ASSORTED TUTTI FRUTTI PEN,72,2011-11-11 12:44:00,0.29,United Kingdom,20.88
66606,23843,C581484,16446.0,-168469.60,581483,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,United Kingdom,168469.60